@using Foody.Models
@model PagedList.IPagedList<FoodType>
@using PagedList.Mvc
@{
    ViewBag.Title = "QuanLyTypeMonAn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menuleft{
    @Html.Action("MenuStoreAdmin", "Store", new { StoreID = ViewBag.StoreID })
}
<h4 class="text-center">Quản lý vị món ăn</h4>
<br />
<p>
    @Html.ActionLink("Thêm vị", "ThemTypeMonAn", new { StoreID = ViewBag.StoreID })
</p>
<h5 class="text-warning"> @Session["Message"]</h5>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().PriceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Food.FoodName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food.FoodName)
            </td>
            <td>
                @Html.ActionLink("Sửa", "SuaTypeMonAn", new { FoodTypeID = item.FoodTypeID, StoreID = ViewBag.StoreID }) |
                @Html.ActionLink("Xóa", "XoaTypeMonAn", new { FoodTypeID = item.FoodTypeID, StoreID = ViewBag.StoreID })
            </td>
        </tr>
    }
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4">
                Không có dữ liệu
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("QuanLyTypeMonAn", new { StoreID = ViewBag.StoreID, page }))