<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <div>
        @RenderBody()
    </div>
    <div id="errorModalGlobal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="txtHeaderError" class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p id="txtMsgError">Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("jsFooter", required: false)
</body>
</html>
