
@using Foody.Models.Dto
@model List<GioHangDto>

@*<a href="@Url.Action("GioHang","GioHang")">
    <i class="fa fa-shopping-cart"></i> (@ViewBag.TongSoLuong)</a>*@
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-shopping-cart"></i> <span class="badge">@Model.Count</span></a>
    <ul class="dropdown-menu" role="menu" style="width:250px">
        @if (Model.Count < 1)
        {
            <li>
               Không có giỏ hàng nào
            </li>
        }
        @foreach (var giohang in Model)
        {
            <li>
                <a href="@Url.Action("xemchitiet","store",new { StoreID= giohang.StoreID})" style="width:100%">
                    <div class="row">
                        <div class="col-md-4" style="padding:0">
                            <img src="@giohang.StoreImage" alt="@giohang.StoreName" width="60" height="60">
                        </div>
                        <div class="col-md-8">
                            <p>@giohang.StoreName</p>
                            <p>@giohang.SoPhan phần</p>
                        </div>
                    </div>
                </a>
            </li>
        }
    </ul>
</li>