
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

@using Foody.Models
@model List<GioHang>
<br />
<h2 class="text-center">Giỏ hàng của bạn</h2>
<table class="table table-striped table-bordered ">
    <tr>
        <td>Mã món ăn</td>

        <td>Tên món ăn</td>

        <td>Ảnh</td>

        <td>Đơn giá</td>


        <td>Số lượng</td>

        <td>Thành tiền</td>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FoodID</td>

            <td>@item.FoodName</td>

            <td><a href="@Url.Action("XemChiTiet", "Store", new { @StoreID = item.StoreID})"><img src="@item.FoodImage" width="50" height="50" /></a></td>

            <td>
                @String.Format("{0:0,0}", item.DonGia) VNĐ
            </td>

            <td>@item.SoLuong</td>

            <td>@String.Format("{0:0,0}", item.ThanhTien) VNĐ</td>

        </tr>

    }

    <tr>
        <td colspan="6" style="text-align:right;color:blue">
            @Html.ActionLink("Chỉnh sửa giỏ hàng", "SuaGioHang")
        </td>

    </tr>
    <tr>
        <td colspan="3" style="text-align:left;color:blue">
            @using (Html.BeginForm("XemChiTiet", "Store", new { @StoreID = Model[0].StoreID }))
            {
                <input type = "submit" value = "Quay lại" />
            }
        </td>
        <td colspan="3" style="text-align:right;color:blue">
            @using (Html.BeginForm("DatHang", "GioHang"))
            {
                <input type="submit" value="Đặt hàng" />
            }
        </td>
    </tr>
</table>
@*Css giỏ hàng*@
<style>
    #divGioHang {
        border: 1px solid #EEEEEE;
        margin-left: 10%;
    }

        #divGioHang td {
            padding: 10px;
            border: 1px solid #EEEEEE;
        }
</style>

